/* Main style File */

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Muli:300,300italic);
@import url(http://fonts.googleapis.com/css?family=ABeeZee:400,400italic);
@import url(screen.css);


body {background: #435 url(../img/g1.jpg) left top fixed; background-size: cover;}

.top {position: fixed; top:0; left:0; right: 0; background: #000; background-image: linear-gradient(to bottom, #000, #303); color:#FFF; padding: 0; margin:0 }
.top div {width: 960px; padding: 0; margin:0 auto;}
.top ul, .top li { list-style: none; display:inline; padding: 0; margin: 0;}
.top a {display:inline-block; color:#DDD; padding: 7px 10px; margin: 0; text-decoration: none;}
.top a:hover { color:#EEF; background: #F70}
.container {margin: 40px auto 0 auto; width: 920px; padding: 0 20px 40px 20px; background:#FFF; box-shadow: 0 10px 20px #035;transition: 0.5s; -webkit-transition: 0.5s; opacity: 0; font-size: 1.4em}
.container iframe {margin:0 -20px 20px -20px; background: #000; border:none; border-top:2px solid #000;}
h1 { font-size: 56px; margin: 10px 0; font-family:'Open Sans', "Trebuchet MS", Optima, Arial, Helvetica, sans-serif; }
blockquote { background:#F9F9F9 url(../img/icons/blockquote.png) 10px top no-repeat;
             margin:10px 0; padding: 6px 20px 6px 50px;
             font-size: 2em;font-family:'Open Sans', Tangerine, "Trebuchet MS", Optima, Arial, Helvetica, sans-serif;}
.artigo { margin-top: 60px;}
.footer {display:none; background: #85A; color:#FFF; text-align: center; width: 920px; padding: 10px 20px; margin:20px auto; font-size: 1.1em}



/* Media Query */
@media (max-width : 960px) {
  .top {background: #000}
  .top div {width:100%;}
  .container, .footer { margin:0 auto; width: 100%; padding:30px 10px 10px 10px; font-size: 1.1em}
  blockquote { font-size: 1.3em}
  h1 { font-size: 3em}
  .container iframe{ width: 100%; height: 380px; margin: -10px; margin-top: 0}
}
@media (max-width : 460px) {
  .top {}
  .top div {width:100%;}
  .container, .footer { width: 100%; padding: 30px 10px 10px 10px; font-size: 0.8em}
  blockquote { font-size: 1.3em}
  h1 { font-size: 2em}
  .container iframe{ width: 100%; height: 220px ; margin: -10px; margin-top: 0}
}
