/* Main Blog Style File */

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(lib/blueprint/screen.css);

body { padding: 0; background:#000; font-family: Merriweather, "Trebuchet MS", Optima, Arial, Helvetica, sans-serif;}


/* ---  STYLE --- */
#bg {position:fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; 
     background: #000 url(../img/ig.jpg) left top fixed; background-size: cover; opacity: 0.6}

.container {margin: 10px auto; max-width: 660px; padding: 0 0 40px 0}
.container iframe {margin:0 -20px 20px -20px; background: #000; border:none; border-top:2px solid #000;}

blockquote { background:#F9F9F9 url(../img/icons/blockquote.png) 10px top no-repeat;
             margin:10px 0; padding: 6px 20px 6px 50px;
             font-size: 1.3em;font-family:'Open Sans', Tangerine, "Trebuchet MS", Optima, Arial, Helvetica, sans-serif;}
.artigo { background:#FFF; padding: 0 20px 20px 20px; margin: 0 0 40px 0; opacity: 0.96; box-shadow: 0 10px 20px #000;}
.footer {background: #85A; color:#FFF; text-align: center; max-width: 620px; padding: 10px 20px; margin:20px auto; font-size: 1.4em}


 


/* Media Query >> celulares de tela muito pequena */

@media (max-width : 670px) {
  .container, 
  .footer {width: 100%; margin: 0; font-size: 0.9em; margin: 0; padding: 0}
  .footer {width: 80%; padding: 10px 10%; font-size: 1.2em}
  .artigo {padding: 0 0 40px 0; margin: 0; box-shadow: none}
  .artigo div.content { padding:10px; box-shadow: 0 5px 10px #CCC}
  blockquote { font-size: 1.3em}
  h1 { font-size: 2.4em; margin: 15px 0 10px 0}
  .container iframe{width: 100%; height: 280px ; margin: 0;}
}
