<div id="top" class="top">
  <div>
    <ul>
      <li><a href="<?php echo URL_BASE; ?>">Home</a></li>
      <li><a href="<?php echo URL_BASE . 'sobre'; ?>">Sobre</a></li>
      <li><a href="<?php echo URL_BASE . 'login'; ?>">Login</a></li>
    </ul>
  </div>
</div>

<div id="container" class="container">
  <iframe width="960" height="570" src="//www.youtube.com/embed/w120gbhBjec" allowfullscreen ></iframe>
  <h1>Começe a DESLIGARE!</h1>
  <blockquote>Não sou ateu; <b>sou Cético.</b></blockquote>
  Ser ateu é como ter uma outra religião onde não acreditar em deus é <b>obrigatório</b>.<br>
  Como <b>Cético</b>, sou livre para acreditar naquilo que possa ser provado ou não contestado. Livre o suficiente para acreditar em criacionismo, evolucionismo, espiritualidade, deus(es) . . .
  <blockquote>Evolucionismo é apenas mais uma dessas <b>teorias interessantes</b>.</blockquote>
  A teoria da evolução é interessante e pode ser considerada como lógica, porém, ainda não passa de uma <b>teoria</b> com muitas "pontas soltas".


  <h1 class="artigo">Milagres Nas Igrejas?</h1>
  <iframe width="960" height="570" src="//www.youtube.com/embed/JjDiZBXgKTM" allowfullscreen></iframe>
</div>
<div id="footer" class="footer">D E S L I G A R E | prbr@ymail.com | (21) 3630-5920 | Descontaminação Religiosa - só quem passou por isso pode te ajudar a D E S L I G A R E.
</div>
<script>
  function onload() {
    document.getElementById('container').style.opacity = 1;
    document.getElementById('footer').style.display = 'block';
  }
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-44799350-1', 'desligare.tk');
  ga('send', 'pageview');
</script>